<!DOCTYPE html>
<html>
  <head>
    <title>Amazon Search</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Amazon Search</h1>
    <p>Welcome to Amazon Search</p>
    <p><%= const pedro = 'oi' %></p>
  </body>
</html>
