body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.intro {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.results-summary {
  margin-bottom: 10px;
  color: #212529;
  font-weight: var(--bs-body-font-weight);
}
a {
  color: #00B7FF;
}



body{
background-color:#eee;
font-family: "Poppins", sans-serif;
font-weight: 300;
}

.height{
height: 100vh;
}


.search{
position: relative;
box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input{

height: 60px;
text-indent: 25px;
border: 2px solid #d6d4d4;


}


.search input:focus{

box-shadow: none;
border: 2px solid blue;


}

.search .fa-search{

position: absolute;
top: 20px;
left: 16px;

}

.search button{

position: absolute;
top: 5px;
right: 5px;
height: 50px;
width: 110px;
background: blue;

}

.price {
  font-size: 17px;
  font-weight: bold;
}

.product{
  height: 100%;
}

.description{
  height: auto;
}

.reviews {
  font-size: 15px;
}

div.card-index {
  /* --bs-card-height: 500px; */
  border: 1px solid #ccc
}

.image {
  height: 300px;
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
